@model IEnumerable<Day_n_Night.Models.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DefualtImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomAvail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOut)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DefualtImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomCap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomAvail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOut)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomNum }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomNum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomNum })
        </td>
    </tr>
}

</table>
